# Віртуальне середовище
venv/
env/

# Секретні файли (КРИТИЧНО ВАЖЛИВО!)
.env

# Системні файли Python
__pycache__/
*.pyc

# Файли VS Code (необов'язково, але корисно)
.vscode/

# Датасети та архіви
arxiv.zip
arxiv-metadata-oai-snapshot.json
data/
embeddings/